

<section class="row text-center">
  <h2>
    Edit Comment 
  </h2>
  <form class="edit-comment-form row">
    <div class="row justify-content-center">
      <label class="col-2" for="comment_content">Comment Content</label>
      <input class="col-2" id="comment_content" name="comment_content" type="text" value="{{comment.comment_text}}" />
    </div>
  <div class="row">
    <button class="save-comment-btn col-2 " type="submit">Save</button>
    <button class="btn col-2 delete-comment-btn" type="button">Delete</button>
  </div>  
  </form>
</section>
<div>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>