<div class="employee-list" >
    <ul   class="row">
        {{#each employees as |employee|}}
        <li class="col-12 employee-section">
            {{> employee-info employee}}
        </li>
        {{/each}}
    </ul>
</div>