<div class="row text-center form-div">
  <div class="col-12">
    <h2 class="col-12">Log in Here!</h2>
    <form class="login-form row">
      <div class="row justify-content-center">
        <label
          class="col-12 col-sm-3 text-md-end"
          for="email-login"
        >Email:</label>
        <input class="col-12 col-sm-4" type="text" id="email-login" />
      </div>
      <div class="row justify-content-center">
        <label
          class="col-12 col-sm-3 text-sm-end"
          for="password-login"
        >Password:</label>
        <input class="col-12 col-sm-4" type="password" id="password-login" />
      </div>
      <div>
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
<p class="text-center">If you don't have an account but would like to make one,
  do so
  <a href="/signup">here!</a></p>

<script src="/javascript/login.js"></script>