<form class="signup-form row text-center form-div">
  <div>
    <h2 class="col-12">Sign Up Here!</h2>
    <div class="row justify-content-center">
      <label
        class="col-12 col-sm-3 text-md-end"
        for="username-signup"
      >username:</label>
      <input class="col-12 col-sm-4" type="text" id="username-signup" />
    </div>
    <div class="row justify-content-center">
      <label
        class="col-12 col-sm-3 text-md-end"
        for="email-signup"
      >email:</label>
      <input class="col-12 col-sm-4" type="text" id="email-signup" />
    </div>
    <div class="row justify-content-center">
      <label
        class="col-12 col-sm-3 text-md-end"
        for="password-signup"
      >password:</label>
      <input class="col-12 col-sm-4" type="password" id="password-signup" />
    </div>
    <button class="btn col-2" type="submit">Sign Up</button>
    <div>

    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>