<form class="signup-form row text-center">
  <div class="row justify-content-center">
    <label class="col-2" for="username-signup">username:</label>
    <input class="col-2" type="text" id="username-signup" />
  </div>
  <div class="row justify-content-center">
    <label class="col-2" for="email-signup">email:</label>
    <input class="col-2" type="text" id="email-signup" />
  </div>
  <div class="row justify-content-center">
    <label class="col-2" for="password-signup">password:</label>
    <input class="col-2" type="password" id="password-signup" />
  </div>
  <button class="btn col-2" type="submit">Sign Up</button>
  <div>

  </div>
</form>

<script src="/javascript/signup.js"></script>