*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    
:root{
        --primary-color:#1a70f2ea;
        --secondary-color: #170f61; 
        --tertiary-color: #0f3d81ef;
}
ul, nav {
    list-style-type: none;
}


main{
        height: 90vh;
        overflow-y: scroll; 
}
header{
        background-color: var(--secondary-color);
        padding: 15px;
}

label{
        font-weight: bold;
}

.navigation-bar{
        font-weight: bold;
}

/* homepage styling */
.review{
        color: var(--secondary-color);
}


.employee-section{
        margin-bottom: 15px;
        margin-top:15px; 
        padding:10px; 
        background-color: var(--primary-color);
}

.employee-name{
        font-weight: bold;
        background-color: var(--secondary-color);
        padding: 10px;
        color: var(--primary-color);
}

/* login page styling, and signup page */
.form-div{
        background-color: var(--primary-color);
        margin: 30px;
}

.login-input{
        margin-left:15px; 
}

.btn {
        color: var(--secondary-color);
        text-decoration: none;
        margin: 10px; 
        padding:10px;
        width: 20%;
}

.btn:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 15px;
}

.form-title{
        margin-bottom: 35px;
}

/* single employee with reviews page  */

.comment-textarea{
        width: 100%;
        height: 100px;
}

.posted-comments{
        margin-left: 25px;
}

.comment-form{
       margin: 25px 5px 0 25px;
        
}

.comment-employee{
        margin-left: 35px;
        margin-right: 35px;
}

input{
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        
}

