*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    
:root{
     
        --secondary-color:#feb2a8;
        --primary-color: #fe9c8f; 
        --tertiary-color: #f9c0a7;
        --fourth-color:#facac1;
        --fifth-color:#fec8c1; 
}
ul, nav {
    list-style-type: none;
 
}

a{
        color: black;
        text-decoration: none;
}

body{
        background-color: var(--tertiary-color);
}

main{
        height: 90vh;
        overflow-y: scroll; 
}
header{
        background-color: var(--secondary-color);
        padding: 15px;
        
}

label{
        font-weight: bold;
}

.navigation-bar{
        font-weight: bold;
}

/* homepage styling */
.review{
        color: rgb(12, 12, 12);
}


.employee-section{
        margin-bottom: 15px;
        margin-top:15px; 
        padding:10px; 
        background-color: var(--primary-color);
        
       
}

.employee-name{
        font-weight: bold;
        background-color: var(--secondary-color);
        padding: 10px;
        color: black;
}

/* login page styling, and signup page */
.form-div{
        background-color: var(--primary-color);
        margin: 30px;
        
}

.login-input{
        margin-left:15px; 
}

.btn {
        color: black;
        text-decoration: none;
        margin: 10px; 
        padding:10px;
        width: 20%;
       
}

.btn:hover{
        color: black;
        background-color: var(--secondary-color);
        border-radius: 15px;
      
}

.form-title{
        margin-bottom: 35px;
}

/* single employee with reviews page  */

.comment-textarea{
        width: 100%;
        height: 150px;
        
}
.comment-textarea-edit{
        width: 100%;
        height: 100px;
        margin-left: 65px;
        
}

.posted-comments{
        margin-left: 25px;
}

.comment-form{
       margin: 25px 5px 0 25px;
        
}

.comment-employee{
        margin-left: 35px;
        margin-right: 35px;
}

input{
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        
}

.comment-post-text{
        font-weight: bold;
        padding: 25px;
        background-color: var(--fifth-color);
}

.comment{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: var(--fourth-color);
}


button.button-categories {
        display:block;
        border:none;
        background-color:rgba(0,0,0,0);
}
      
button.button-categories.active { 
background-color:rgba(255,255,0,1); 
}
      


.star-style input{
        display: none;
}
.star-style label{
        font-size: 30px;
        color: #444;
        padding: 5px;
        float: right;
        transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}